@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
body{
    background-image: url(images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-repeat: no-repeat; 
    
    
}
.main-container{
    /* background-image: url(images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-repeat: no-repeat; */
    height: 100vh;
    width: 99vw;
    background-image: url(images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    

}

.nav-bar{
    margin-left:7rem;
    padding-top: 2rem;

}
.nav-bar>img{
    width: 200px;
}
.main-page{
    display: flex;
    margin: 0;
    padding: 0;
    height: 85vh;
    width: 100vw;
   
}



/* Left-side */
.left-side>img{
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-left: 7rem;
    width: 700px;
}

/*  */




/* Right-side */
.right-side{
    padding:1rem
    5.5rem;
}

.right-side>h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    padding-top: 4rem;
    padding-right: 4rem;
    color: white;

}
.right-side>p{
    font-size: 17px;
    font-family:'Open Sans', sans-serif; ;
    color: white;
    opacity: 75%;
    padding-top: 2rem;
    padding-right: 1rem;
    line-height: 1.7rem;
}
.right-side>a>input{
    /* padding: 1em 4rem;
    border-radius: 2rem;
    margin-top: 3rem; */
    padding: 0.6em 4rem;
    border-radius: 2rem;
    margin-top: 2rem;
    color:  hsl(257, 40%, 49%);
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    border:  none;
    box-shadow: 1px 1px 2px gray;
    border:.5px solid gray;
}
.right-side>a>input:hover{
    cursor: pointer;
    background-color: hsl(300, 69%, 71%);
    color: white;
    transition: .3s;
    box-shadow:  1px 3px 30px white;
    
    
}
ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    margin-top: -3rem;
    list-style-type: none;
}
    ul>li{
    color: white;
    border-radius: 50%;
    background-color: white;
    padding: 10px 13px;
    margin-right:1rem;
    border: 2px solid white;
    opacity: 90%;
    background-color:hsl(257, 40%, 49%); 
}
i{
    color: white;
}
i:hover{
    color: hsl(300, 69%, 71%);;
}
ul>li:hover{
    border-color:  hsl(300, 69%, 71%);
}


/* Mobile styles */
@media (max-width:720px){
    *{
        margin: auto;
        padding: auto;

    }
    body{
        margin: auto;
        padding: auto;
    }
    
    .main-page{
        display:grid;
        flex-direction: row;
        padding: auto;
        margin:auto;
    }
     
       
    
    .left-side{
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .left-side>img{
    padding: 4rem 2rem 4rem 2rem;
    width: 450px;
    margin: auto;
    padding: auto;
    }
    .nav-bar{
      margin-left: 4rem;
    }
    .right-side{
      
       padding:  0rem 5rem;
       text-align: center;
    }
    .right-side>h1{
       padding: 0;
       margin: auto;
       font-size: 28px;
    }
    .right-side p {
        margin-top: 2rem;
        padding:0;
    }
   
    ul>li{
        margin: 0.4em;
        border-radius: 50%;
        color: white;
        border:2px solid white;
    }
    ul{
        margin-top: 8rem;
        margin-right: 4rem;
        padding: auto;

    }
    .right-side>a>input{
        padding: 0.6em 4em;
    }
}