@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Kumbh Sans', sans-serif; ;
    
}
body{
background:linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 10%,
    hsl(240, 73%, 65%)

    ) ;
    padding: 0;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family:'Kumbh Sans', sans-serif;
}
.box-container{
    display: flex;
    background-color: white;
    width: 65vw;
    height: 35vw;
    border-radius: 1.5rem;
}
.image{
    margin: 0;
    background-image: url(images/bg-pattern-desktop.svg
    );
    background-size: contain;
    background-repeat:no-repeat;
    margin-left: -5.7rem;
}
.img-1{
    width: 460px;
    padding-top: 4.5rem;
    margin-bottom: -3rem;
    margin-left: 3rem;
    position: relative;
 }

.img-2{
justify-content: left;
align-items: left
;
display: flex;
margin-top:-11rem;
filter:drop-shadow(4px 4px 4px) ;
}

.main-page{
    justify-content: center;
    align-items: center;
    display: flex;
}
.question>h4{
    font-size: 16px;
    color: hsl(237, 12%, 33%);
    font-weight: 100;
    margin-bottom: 1.4rem;
}

.accordeon{
    font-size:13px;
    margin-top: 1.5rem;
}

.FAQ-Text-div>h1{
    text-align:left;
    font-size: 32px;
    font-weight: 700;
    padding:2rem 0 0 0rem;
}
.question>h4:hover{
    color: hsl(14, 88%, 65%);
}
.accordeon-box{
    margin-top: 2.5rem;
    margin-left: 6rem;
    margin-right: 0;
}

.question{
border-bottom: 1px solid hsl(240, 5%, 91%);
}

.FAQ{
width: 48%;
padding-top: 2rem;
padding-left: 5rem;
}

.icon-arrow-down{
    float: right;
    margin-top: -2rem;
    width: 13px;
}
.icon-arrow-down:hover{
    cursor: pointer;
}

/* Answer part */

.answer{
    display: none;
    font-size: 13px;
    font-family:'Kumbh Sans', sans-serif; 
    color:hsl(240, 6%, 50%);
}

/* Media queries */
@media (max-width:770px){
   *{
    margin: 0;
    padding: 0;
   }
   body{
    margin-top:2rem ;
   }
   .icon-arrow-down{
    margin-right: rem;
    margin-top: -2rem;
   }
    .box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
        width: 80vw;
        border-radius: 2rem;
}
    .body{
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
    .image{
    margin: 0;
    padding: 0;
    position: absolute;
    top:1%;

}
    .img-1{
    width: 290px;
    margin: 0;
    padding: 0;

}
.img-2{
    width: 130px;
    position: absolute;
    left: -8%;
    top: 110%;
}
    .question>h4{
    font-size: 15px;
}
    .accordeon-box{
    margin: 0 auto;
}

    .accordeon{
    margin-top:2rem;
}   
    .accordeon-box>h1{
        text-align: center;
    }
    .FAQ{
    margin: auto;
    margin-top: 8rem;
    width: 79%;
    padding: 0;
}
.FAQ-Text-div>h1{
    text-align: center;
    font-size: 40px;
    margin-top: -3.3rem;
}
}

    